/Maven__antlr_antlr_2_7_7.xml
/Maven__com_fasterxml_classmate_1_3_4.xml
/Maven__com_google_protobuf_protobuf_java_3_6_1.xml
/Maven__javax_activation_javax_activation_api_1_2_0.xml
/Maven__javax_persistence_javax_persistence_api_2_2.xml
/Maven__log4j_log4j_1_2_17.xml
/Maven__mysql_mysql_connector_java_8_0_13.xml
/Maven__net_bytebuddy_byte_buddy_1_8_17.xml
/Maven__org_dom4j_dom4j_2_1_1.xml
/Maven__org_hibernate_common_hibernate_commons_annotations_5_0_4_Final.xml
/Maven__org_hibernate_hibernate_core_5_3_7_Final.xml
/Maven__org_javassist_javassist_3_23_1_GA.xml
/Maven__org_jboss_jandex_2_0_5_Final.xml
/Maven__org_jboss_logging_jboss_logging_3_3_2_Final.xml
/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final.xml
/Maven__org_slf4j_slf4j_api_1_6_1.xml
/Maven__org_slf4j_slf4j_log4j12_1_6_1.xml
